{% extends 'myapp/dashboard.html' %} {% block content %} {% load static %}
<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    {% for i in datadetail%}
                    <h2>รายละเอียดโครงงานเรื่อง {{i.ProjectName}}</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <div>
                        <table style="width:100%">

                            <tr>
                                <th>Name</th>
                                <td>{{i.Name}}</td>
                            </tr>
                            <tr>
                                <th>StudentID</th>
                                <td>{{i.StudentID}}</td>
                            </tr>
                            <tr>
                                <th>StudentID</th>
                                <td>{{i.ProjectName}}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{i.Type}}</td>
                            </tr>
                            <tr>
                                <th>GraduationYear</th>
                                <td>{{i.GraduationYear}}</td>
                            </tr>
                            <tr>
                                <th>Abstract</th>
                                <td>{{i.Abstract}}</td>
                            </tr>
                            <tr>
                                <th>Keyword</th>
                                <td>{{i.Keyword}}</td>
                            </tr>
                            <tr>
                                <th>Technology</th>
                                <td>{{i.Technology}}</td>
                            </tr>
                            <tr>
                                <th>Award</th>
                                <td>{{i.Award}}</td>
                            </tr>
                            <tr>
                                <th>LinkGit</th>
                                <td>{{i.LinkGit}}</td>
                            </tr>{% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}