 {% extends 'myapp/dashboard.html' %} {% block content %} {% load static %}
<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>วิทยาศาสตร์และเทคโนโลยี</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <div>
                        <ul id="myUL">
                            {% for data in scienceadntecnologys %}
                            <li>
                                <a href={% url 'detail' data.id %}>
                                    <h5>
                                        <p id="project-name">ชื่อโปรเจค : {{data.ProjectName}}</p> ชื่อ - นามสกุล : {{data.Name}}</h5>
                                </a>
                                <hr> {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}